@import url('https://fonts.cdnfonts.com/css/winkle');

* {
    color: white;
    font-family: 'Winkle', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: normal;
    user-select: none;
}

body {
    background-image: url(main-bck.png);
    background-size:cover
}

.points {
    font-size: 90px;
    margin: 0px;
}

.everything {
    display: flex;
    width: 50%;
    place-items: center;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.main-container {
    place-items: center;
    border-radius: 10px;
    border: 2.5px solid rgb(155, 124, 161);
    width: fit-content;
    height: 90vh;
    padding: 30px 100px 30px 100px;
    background-color: #b98dca7e;
}

.yourColors {
    background-color: #b98dca7e;
    height: 90vh;
    width: fit-content;
    padding: 30px;
    border-radius: 10px;
    border: 2.5px solid rgb(155, 124, 161);
    margin-right: 5%;
    text-align: left;
}

.newGame {
    visibility: collapse;
}

.submit, .newGame {
    font-size: 25px;
    background-color: #c9a2d8;
    border: 3px solid #c9a2d8;;
    border-radius: 10px;;
    padding: 5px;
    margin-top: 10px;
}

.iconStyle {
    width: 30px;
    height: 30px;
    border: 3px solid white;
    display: inline-block;
}

@media screen and (max-width: 1100px) {
    .everything {
        flex-wrap: wrap-reverse;
    }
    .main-container {
        margin-bottom: 10%;
        width: 90%;
        height: 95vh;
    }
    .yourColors {
        height: fit-content;
        width: 100%;
    }

  }
